services:
  snapserver:
    image: 'ghcr.io/firefrei/snapcast/server:latest'
    restart: always
    #cap_add:
      #- NET_BIND_SERVICE   # Optional: allow container to bind privileged ports (>1024)
    environment:
      # See README.md for all environment options.
      TZ: "Etc/UTC"
    volumes:
      # Snapcast: Configuration and run-time data
      - snapcast-data:/app/data/
      #- snapcast-config:/app/config/
      #- ./config_snapcast/:/app/config/

      # HTTPS certificates
      #- snapcast-certs:/app/certs/

    # Network Alternative 1: Use host networking
    network_mode: host
    
    # Network Alternative 2: Bridge container directly into your home network
    #networks:
      #bridged-home-network:
        #ipv4_address: <desired-ip-of-container>

    # Network Alternative 3: Use port-forwarding of host ports (experimental, not recommended)
    # ports:
    #   # Snapcast Ports
    #   - '1704-1705:1704-1705'
    #   - '1780:1780'
    #   - '1788:1788'
    #   # AirPlay ports
    #   - '3689:3689'
    #   - '5000:5000'
    #   - '6000-6009:6000-6009/udp'
    #   # AirPlay-2 ports
    #   #- '319-320:319-320/udp'
    #   #- '3689:3689'
    #   #- '5000:5000'
    #   #- '7000:7000'
    #   #- '6000-6009:6000-6009/udp'
    #   # Avahi ports
    #   - '5353:5353'


volumes:
  #snapcast-config:
  snapcast-data:
  snapcast-certs:


# Network Alternative 2
# The network `bridged-home-network` must be manually created 
# with `docker network create ...` and bridged to the home network
#networks:
  #bridged-home-network:
    #external: true
